@media only screen and (max-width: 800px) {
  .window {
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .right {
    display: none !important;
  }
}
